

body{
  margin:0;
}

main{

    background: blue;
}

footer{

    background: violet;
   
    height: 310px;
    margin: auto;
    padding: 0 8px 0 8px; /* 각각 위 오른쪽 아래 왼쪽 */
    display: flex;
    flex-direction: column; /* 요소들을 수평정렬 */
    font-size: 12px;   
}


a {
    text-decoration: none; /* 기본 밑줄을 제거합니다 */
    color:white;
  }

a:hover {
    text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄을 생성합니다*/
  }

  



.links { /* 링크들을 상단 우측에 위치시킵니다. */
    position: absolute;
    top: 0;
    right: 60px;
    margin: 10px;
    padding: 10px;
    color:black;
  }




.img_logo {
    margin-bottom: 12px;
    width: 220px;
    height: 65px;
  }

.navbar 
{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding:8px 12px;
  
}

.navbar_menu
{
  display: flex;
  list-style:none;
  /* 기호제거  */
  padding-left:0;

}


.navbar_menu li{

  padding:8px 12px;
}